*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  background: #eee;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Roboto Slab', serif;
  overflow-x: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form {
  margin: 50px auto;
  height: 450px;
  width: 300px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  box-shadow: 3px 5px 10px #bbb;
  border-radius: 2px;
  
}

.text {
  margin-top: 20px;
  width: 70%;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 20px;
  resize: none;
}
#text:focus {
  outline: none;
}

#button {
  width: 70%;
  padding: 8px;
  margin: 20px;
  background: #000;
  color: #fff;
  border-radius: 3px;

}

#button:hover {
background: #222;;
}

.Titulo {
  width: 100%;
  font-size: 30px;
  text-align: center;
  
}

.Nav {
  position: fixed;
  display: flex;
  align-items: center;
  align-content: center;
  background: #000;
  height: 50px;
  width: 100%;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ul-li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 3px;
}

.contenedor{
  height: 100%;
  width: 100%;
}

.footer {
  align-self: flex-end;
  display: flex;
  justify-content: center; 
  width: 100%;
  height: 100px;
  background: #000
}

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
   /* color of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}

.li-a {
  color: white;
  text-decoration: none;
}

.li-a:hover {
  color: #aaa;
}

.container-home {
  position: relative;
  z-index: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.Nav {
  position: fixed;
  z-index: 1;
}

.card {
  background-color: #fff;
  box-shadow: 3px 3px 10px #444;
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 200px;
  margin: 10px;
  transition: all .3s;
}

@media screen and (min-height: 800px  ) {
  .body {
    height: 1200px;
  }
}

.li-footer{
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.Nav-footer {
  display: flex;
  justify-content: center;
  width: 300px;
}

.ul-footer {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card:hover {
  height: 220px;
  width: 220px;
  margin: 10px;
  position: relative;
}

.card-title{
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.card-text {
  text-align: center;
}

.card-body {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content:center ;
  width: 198px;
  height: 164px;
}

#eliminar {
  background-image: url('../../eliminar.svg');
  background-position: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
}

#eliminar:hover {
  background-image: url('../../eliminarChange.svg');  
}

#editar {
  text-align: center;
  width:60px;
  height: 40px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 40px;
  margin: auto;
}


#buttonEdit {
  font-family: 'Roboto Slab', serif;
  font-size: medium;
  width: 60px;
  height: 40px;
  border: none;
  border-radius:2px
}

#buttonEdit:hover {
  background-color: #bbb;
}
