*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  background: #eee;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Roboto Slab', serif;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.Nav-ul {
  margin-top: 10px;
}
.form {
  margin: 50px auto;
  height: 250px;
  width: 300px;
  display: block;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  box-shadow: 3px 5px 10px #bbb;
  border-radius: 2px;
  
}

#text {
  margin-top: 20px;
  width: 200px;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 20px
}
#text:focus {
  outline: none;
}

#button {
  width: 200px;
  padding: 8px;
  background: #000;
  color: #fff;
  border-radius: 3px;

}

#button:hover {
background: #222;;
}

.Titulo {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.Nav {
  position: fixed;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #000;
  height: 50px;
  width: 100%;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ul-li {
  display: inline-block;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.contenedor{
  height: 100%;
  width: 100%;
}

.footer {
  align-self: flex-end;
  width: 100%;
  height: 100px;
  background: #000
}

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}

.li-a {
  color: white;
  text-decoration: none;
}

.Nav-footer {
  margin: 0px;
}